<form>
	PID: {{input value=memberId}} <br>
	First Name: {{input value=memberFName}} <br>
	Last Name: {{input value=memberLName}} <br>
	Email: {{input value=memberEmail}} <br>
	Major: {{input value=memberMajor}} <br>
	Class: {{input value=memberClass}} <br>
	<button {{action "submit"}}>Submit</button>
</form>