{{#modal-dialog action='close'}}
	Event Name: {{input value=eventName}} <br>
	Event Date: {{input value=eventDate placeholder="MM/DD/YYYY"}} <br>
	Event Time: {{input value=eventTime placeholder="00:00 AM"}} <br>
	Location: {{input value=eventLocation}} <br>
	<button {{action "submit"}}>Submit</button>
{{/modal-dialog}}