

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			{{#unless register}}
			<div>HeadCount</div>
			{{else}}
			<div>Register</div>
			{{/unless}}
		</div>
		<br>
		<div class="login">
				{{input type="text" placeholder="email" name="user"}}<br>
				{{input type="password" placeholder="password" name="password"}}<br>
				{{#unless register}}
				<input type="button" {{action 'login'}} value="Login">
				<input type="button" {{action 'register'}}value="Register">
				{{else}}
				{{input type="password" placeholder="confirm password" name="confirmPswd"}}
				{{input type="text" placeholder="First Name" name="firstName" value=userFName}}<br>
				{{input type="text" placeholder="Last Name" name="lastName" value=userLName}}<br>
				<input type="button" {{action 'register'}}value="Submit">
				{{/unless}}
		</div>