

  <div class="body"></div>
		<div class="grad"></div>
		
		<div class="header">
			{{#unless register}}
			<img src="https://40.media.tumblr.com/493dc3edbb5821acc46dd2f2152fb2b2/tumblr_nirdxkEBEm1u9phyeo1_400.png" width="200px">
			{{else}}
			<div>Register</div>
			{{/unless}}
		</div>
		<br>
		
		
		<div class="login">
				{{input type="text" placeholder="email" name="user"}}<br>
				{{input type="password" placeholder="password" name="password"}}<br>
				{{#unless register}}
				<input type="button" {{action 'login'}} value="Login">
				<input type="button" {{action 'register'}}value="Register">
				{{else}}
				{{input type="password" placeholder="confirm password" name="confirmPass"}}
				{{input type="text" placeholder="First Name" name="firstName" value=userFName}}<br>
				{{input type="text" placeholder="Last Name" name="lastName" value=userLName}}<br>
				<input type="button" {{action 'register'}}value="Submit" onclick="checkForm(this)">
				{{/unless}}
		</div>
	